@font-face {
	font-family: 'Rajdhani-Medium';
	src: url('./Rajdhani-Medium.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

@font-face {
	font-family: 'Bebas-Regular';
	src: url('./Bebas-Regular.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

@font-face {
	font-family: 'YouSheBiaoTiHei';
	src: url('./YousheTitleBlack.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}
@font-face {
	font-family: 'LCDMono2Bold';
	src: url('./LCDM2B__.TTF') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}
