@font-face {
  font-family: "bolean-iconfont"; /* Project id 3210345 */
  src: url('iconfont.woff2?t=1687916606876') format('woff2'),
       url('iconfont.woff?t=1687916606876') format('woff'),
       url('iconfont.ttf?t=1687916606876') format('truetype');
}

/* 为此字体图标设置样式 避免对iview 图标的影响*/
[class^='bl-icon-'],
[class*=' bl-icon-']{
  font-family: "bolean-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bl-icon-asc:before {
  content: "\e7be";
}

.bl-icon-desc:before {
  content: "\e7bf";
}

.bl-icon-input:before {
  content: "\e7bd";
}

.bl-icon-experiment:before {
  content: "\e7b8";
}

.bl-icon-shijuan:before {
  content: "\e7b9";
}

.bl-icon-study:before {
  content: "\e7ba";
}

.bl-icon-teaching1:before {
  content: "\e7bb";
}

.bl-icon-menu-wiki1:before {
  content: "\e7bc";
}

.bl-icon-biaoge:before {
  content: "\e7aa";
}

.bl-icon-bingtu:before {
  content: "\e7ab";
}

.bl-icon-duijimianjitu:before {
  content: "\e7ac";
}

.bl-icon-duijitiaoxingtu:before {
  content: "\e7ad";
}

.bl-icon-duijizhuzhuangtu:before {
  content: "\e7ae";
}

.bl-icon-huanxingtu:before {
  content: "\e7af";
}

.bl-icon-leidatu:before {
  content: "\e7b0";
}

.bl-icon-meiguitu:before {
  content: "\e7b1";
}

.bl-icon-mianjitu:before {
  content: "\e7b2";
}

.bl-icon-yuanxingleidatu:before {
  content: "\e7b3";
}

.bl-icon-zhexiantu:before {
  content: "\e7b4";
}

.bl-icon-zhibiao:before {
  content: "\e7b5";
}

.bl-icon-tiaoxingtu:before {
  content: "\e7b6";
}

.bl-icon-zhuzhuangtu:before {
  content: "\e7b7";
}

.bl-icon-shuju:before {
  content: "\e7a1";
}

.bl-icon-fen:before {
  content: "\e7a2";
}

.bl-icon-miao:before {
  content: "\e7a3";
}

.bl-icon-shi:before {
  content: "\e7a4";
}

.bl-icon-zifuchuan:before {
  content: "\e7a5";
}

.bl-icon-yue:before {
  content: "\e7a6";
}

.bl-icon-ri:before {
  content: "\e7a7";
}

.bl-icon-nian:before {
  content: "\e7a8";
}

.bl-icon-zu:before {
  content: "\e7a9";
}

.bl-icon-file-mp4:before {
  content: "\e79f";
}

.bl-icon-file-ppt:before {
  content: "\e7a0";
}

.bl-icon-file1:before {
  content: "\e79d";
}

.bl-icon-video:before {
  content: "\e79e";
}

.bl-icon-arrow2-left:before {
  content: "\e79b";
}

.bl-icon-arrow2-right:before {
  content: "\e79c";
}

.bl-icon-alerts1:before {
  content: "\e79a";
}

.bl-icon-teaching:before {
  content: "\e799";
}

.bl-icon-lujingzhongdian:before {
  content: "\e797";
}

.bl-icon-lujingqidian:before {
  content: "\e798";
}

.bl-icon-reset1:before {
  content: "\e795";
}

.bl-icon-time1:before {
  content: "\e796";
}

.bl-icon-voice:before {
  content: "\e792";
}

.bl-icon-tag-new:before {
  content: "\e793";
}

.bl-icon-tag-old:before {
  content: "\e794";
}

.bl-icon-pause:before {
  content: "\e791";
}

.bl-icon-zuoyepiaoguanli:before {
  content: "\e78e";
}

.bl-icon-anquanjiaoyuguanli:before {
  content: "\e78f";
}

.bl-icon-renzhengguanli:before {
  content: "\e790";
}

.bl-icon-bufangliandong:before {
  content: "\e78d";
}

.bl-icon-baojingjiansuo:before {
  content: "\e781";
}

.bl-icon-baojingchuli:before {
  content: "\e782";
}

.bl-icon-kaguanli:before {
  content: "\e783";
}

.bl-icon-quyuhuafen:before {
  content: "\e784";
}

.bl-icon-kaoqinguanli:before {
  content: "\e785";
}

.bl-icon-shishidingwei:before {
  content: "\e786";
}

.bl-icon-tongjichaxun:before {
  content: "\e787";
}

.bl-icon-dituguanli:before {
  content: "\e788";
}

.bl-icon-shipintongdao:before {
  content: "\e789";
}

.bl-icon-fangkeguanli:before {
  content: "\e78a";
}

.bl-icon-xunjianguanli:before {
  content: "\e78b";
}

.bl-icon-zhinengpeizhi:before {
  content: "\e78c";
}

.bl-icon-copy:before {
  content: "\e77e";
}

.bl-icon-camera1:before {
  content: "\e77f";
}

.bl-icon-renlianshibie:before {
  content: "\e780";
}

.bl-icon-huizhizhixian:before {
  content: "\e77a";
}

.bl-icon-huizhipangaoxian:before {
  content: "\e77b";
}

.bl-icon-jiankongshexiangtou:before {
  content: "\e77c";
}

.bl-icon-huizhiquyu:before {
  content: "\e77d";
}

.bl-icon-gongzhong:before {
  content: "\e779";
}

.bl-icon-camera:before {
  content: "\e777";
}

.bl-icon-location2:before {
  content: "\e778";
}

.bl-icon-button:before {
  content: "\e75c";
}

.bl-icon-table:before {
  content: "\e75d";
}

.bl-icon-fold:before {
  content: "\e75e";
}

.bl-icon-container:before {
  content: "\e75f";
}

.bl-icon-text:before {
  content: "\e760";
}

.bl-icon-a-fullscreen:before {
  content: "\e761";
}

.bl-icon-fold-left:before {
  content: "\e758";
}

.bl-icon-fold-right:before {
  content: "\e759";
}

.bl-icon-ipsearch:before {
  content: "\e75a";
}

.bl-icon-location1:before {
  content: "\e752";
}

.bl-icon-infor-threat:before {
  content: "\e753";
}

.bl-icon-instructions:before {
  content: "\e750";
}

.bl-icon-route:before {
  content: "\e751";
}

.bl-icon-menu-assetrisk:before {
  content: "\e74f";
}

.bl-icon-ram1:before {
  content: "\e749";
}

.bl-icon-fan:before {
  content: "\e74a";
}

.bl-icon-cputemp:before {
  content: "\e74b";
}

.bl-icon-components:before {
  content: "\e74c";
}

.bl-icon-rom1:before {
  content: "\e74d";
}

.bl-icon-netcard:before {
  content: "\e74e";
}

.bl-icon-threat1:before {
  content: "\e745";
}

.bl-icon-threat3:before {
  content: "\e746";
}

.bl-icon-threat2:before {
  content: "\e747";
}

.bl-icon-threat4:before {
  content: "\e748";
}

.bl-icon-device-mapping:before {
  content: "\e744";
}

.bl-icon-chip:before {
  content: "\e743";
}

.bl-icon-baseline-revert:before {
  content: "\e740";
}

.bl-icon-baseline-compare:before {
  content: "\e741";
}

.bl-icon-baseline-enable:before {
  content: "\e742";
}

.bl-icon-a-Runningtime:before {
  content: "\e66b";
}

.bl-icon-a-softwareversion:before {
  content: "\e66d";
}

.bl-icon-a-assetname:before {
  content: "\e66f";
}

.bl-icon-a-operatingsystem:before {
  content: "\e670";
}

.bl-icon-menu-visual:before {
  content: "\e663";
}

.bl-icon-fullscreen-exit:before {
  content: "\e661";
}

.bl-icon-fullscreen:before {
  content: "\e662";
}

.bl-icon-select-frame1:before {
  content: "\e664";
}

.bl-icon-close1:before {
  content: "\e665";
}

.bl-icon-pic-save:before {
  content: "\e666";
}

.bl-icon-location:before {
  content: "\e667";
}

.bl-icon-move:before {
  content: "\e668";
}

.bl-icon-unlock2:before {
  content: "\e669";
}

.bl-icon-hide:before {
  content: "\e66a";
}

.bl-icon-lock2:before {
  content: "\e66c";
}

.bl-icon-unhide:before {
  content: "\e66e";
}

.bl-icon-alert-today:before {
  content: "\e656";
}

.bl-icon-bug-more:before {
  content: "\e657";
}

.bl-icon-vulnerability-port1:before {
  content: "\e658";
}

.bl-icon-port-notice:before {
  content: "\e659";
}

.bl-icon-bug-today:before {
  content: "\e65a";
}

.bl-icon-deregister:before {
  content: "\e775";
}

.bl-icon-card1:before {
  content: "\e776";
}

.bl-icon-add-configuration:before {
  content: "\e774";
}

.bl-icon-menu-safetymap:before {
  content: "\e76f";
}

.bl-icon-menu-safetyportrait:before {
  content: "\e770";
}

.bl-icon-menu-safetyrules:before {
  content: "\e771";
}

.bl-icon-menu-safetyanalysis:before {
  content: "\e772";
}

.bl-icon-menu-safetydisposal:before {
  content: "\e773";
}

.bl-icon-menu-devicemgmt:before {
  content: "\e768";
}

.bl-icon-menu-vulnerability:before {
  content: "\e769";
}

.bl-icon-a-menu-informationbase:before {
  content: "\e76a";
}

.bl-icon-menu-topo:before {
  content: "\e76b";
}

.bl-icon-menu-assetmap:before {
  content: "\e76c";
}

.bl-icon-menu-assetlist:before {
  content: "\e76d";
}

.bl-icon-menu-assetportrait:before {
  content: "\e76e";
}

.bl-icon-risky-user:before {
  content: "\e766";
}

.bl-icon-overdue-order:before {
  content: "\e767";
}

.bl-icon-factory:before {
  content: "\e764";
}

.bl-icon-menu-report-mgmt:before {
  content: "\e67a";
}

.bl-icon-menu-dashboard:before {
  content: "\e67b";
}

.bl-icon-menu-log:before {
  content: "\e67c";
}

.bl-icon-menu-protocol:before {
  content: "\e67d";
}

.bl-icon-menu-firmware:before {
  content: "\e67e";
}

.bl-icon-menu-report:before {
  content: "\e67f";
}

.bl-icon-menu-chart:before {
  content: "\e680";
}

.bl-icon-menu-wiki:before {
  content: "\e681";
}

.bl-icon-menu-setting:before {
  content: "\e682";
}

.bl-icon-menu-devices-2:before {
  content: "\e683";
}

.bl-icon-menu-user:before {
  content: "\e684";
}

.bl-icon-menu-scan:before {
  content: "\e686";
}

.bl-icon-menu-chart-mgmt:before {
  content: "\e687";
}

.bl-icon-menu-devices-mgmt-1:before {
  content: "\e688";
}

.bl-icon-menu-report-star:before {
  content: "\e689";
}

.bl-icon-menu-firewall-star:before {
  content: "\e68a";
}

.bl-icon-menu-uisetting:before {
  content: "\e68c";
}

.bl-icon-menu-project:before {
  content: "\e68d";
}

.bl-icon-file-back:before {
  content: "\e68f";
}

.bl-icon-file-other:before {
  content: "\e690";
}

.bl-icon-file-excle:before {
  content: "\e691";
}

.bl-icon-file-zip:before {
  content: "\e692";
}

.bl-icon-file-udisk:before {
  content: "\e693";
}

.bl-icon-file-pcap:before {
  content: "\e694";
}

.bl-icon-file-upload-success:before {
  content: "\e695";
}

.bl-icon-file-upload:before {
  content: "\e696";
}

.bl-icon-nav-notice:before {
  content: "\e697";
}

.bl-icon-nav-udisk:before {
  content: "\e698";
}

.bl-icon-nav-background-done:before {
  content: "\e699";
}

.bl-icon-nav-background:before {
  content: "\e69a";
}

.bl-icon-nav-power-charge:before {
  content: "\e69b";
}

.bl-icon-nav-power-100:before {
  content: "\e69c";
}

.bl-icon-nav-power-60:before {
  content: "\e69d";
}

.bl-icon-nav-power-30:before {
  content: "\e69e";
}

.bl-icon-nav-power-0:before {
  content: "\e69f";
}

.bl-icon-edit:before {
  content: "\e6a0";
}

.bl-icon-action:before {
  content: "\e6a1";
}

.bl-icon-file:before {
  content: "\e6a2";
}

.bl-icon-validation:before {
  content: "\e6a3";
}

.bl-icon-filter:before {
  content: "\e6a4";
}

.bl-icon-start:before {
  content: "\e6a5";
}

.bl-icon-stop:before {
  content: "\e6a6";
}

.bl-icon-upload:before {
  content: "\e6a7";
}

.bl-icon-download:before {
  content: "\e6a8";
}

.bl-icon-add:before {
  content: "\e6a9";
}

.bl-icon-refresh:before {
  content: "\e6aa";
}

.bl-icon-share:before {
  content: "\e6ab";
}

.bl-icon-list:before {
  content: "\e6ac";
}

.bl-icon-print:before {
  content: "\e6ae";
}

.bl-icon-delete:before {
  content: "\e6af";
}

.bl-icon-calendar:before {
  content: "\e6b0";
}

.bl-icon-clone:before {
  content: "\e6b1";
}

.bl-icon-alerts:before {
  content: "\e6b2";
}

.bl-icon-disable:before {
  content: "\e6b3";
}

.bl-icon-save:before {
  content: "\e6b4";
}

.bl-icon-sync:before {
  content: "\e6b5";
}

.bl-icon-markread:before {
  content: "\e6b6";
}

.bl-icon-allow:before {
  content: "\e6b7";
}

.bl-icon-unlock:before {
  content: "\e6b8";
}

.bl-icon-lock:before {
  content: "\e6b9";
}

.bl-icon-invisible:before {
  content: "\e6ba";
}

.bl-icon-visible:before {
  content: "\e6bb";
}

.bl-icon-search:before {
  content: "\e6bc";
}

.bl-icon-exit:before {
  content: "\e6bd";
}

.bl-icon-strategy-upload:before {
  content: "\e6be";
}

.bl-icon-strategy-deliver:before {
  content: "\e6bf";
}

.bl-icon-arrow-down:before {
  content: "\e6c0";
}

.bl-icon-arrow-up:before {
  content: "\e6c1";
}

.bl-icon-arrow-right:before {
  content: "\e6c2";
}

.bl-icon-arrow-left:before {
  content: "\e6c3";
}

.bl-icon-before-page:before {
  content: "\e6c4";
}

.bl-icon-next-page:before {
  content: "\e6c5";
}

.bl-icon-poweroff:before {
  content: "\e6cd";
}

.bl-icon-reboot:before {
  content: "\e6cf";
}

.bl-icon-reset:before {
  content: "\e6d1";
}

.bl-icon-password:before {
  content: "\e6cc";
}

.bl-icon-validation-code:before {
  content: "\e6ce";
}

.bl-icon-user:before {
  content: "\e6d0";
}

.bl-icon-align-bottom:before {
  content: "\e6d5";
}

.bl-icon-align-left:before {
  content: "\e6d6";
}

.bl-icon-align-vertical:before {
  content: "\e6d7";
}

.bl-icon-align-horizontal-distribution:before {
  content: "\e6d8";
}

.bl-icon-align-right:before {
  content: "\e6d9";
}

.bl-icon-align-vertical-distribution:before {
  content: "\e6da";
}

.bl-icon-align-top:before {
  content: "\e6db";
}

.bl-icon-align-horizontal:before {
  content: "\e6dc";
}

.bl-icon-ram:before {
  content: "\e6d2";
}

.bl-icon-cpu:before {
  content: "\e6d3";
}

.bl-icon-rom:before {
  content: "\e6d4";
}

.bl-icon-nav-fold:before {
  content: "\e6dd";
}

.bl-icon-nav-unfold:before {
  content: "\e6de";
}

.bl-icon-clear:before {
  content: "\e6c6";
}

.bl-icon-notice:before {
  content: "\e6c7";
}

.bl-icon-waiting:before {
  content: "\e6c8";
}

.bl-icon-success:before {
  content: "\e6cb";
}

.bl-icon-fail:before {
  content: "\e6df";
}

.bl-icon-offline:before {
  content: "\e6c9";
}

.bl-icon-online:before {
  content: "\e6ca";
}

.bl-icon-star:before {
  content: "\e6e0";
}

.bl-icon-setting:before {
  content: "\e6e1";
}

.bl-icon-decrease:before {
  content: "\e6e2";
}

.bl-icon-increase:before {
  content: "\e6e3";
}

.bl-icon-undo:before {
  content: "\e6e4";
}

.bl-icon-redo:before {
  content: "\e6e5";
}

.bl-icon-enlarge:before {
  content: "\e6e6";
}

.bl-icon-shrink:before {
  content: "\e6e7";
}

.bl-icon-line-dotted:before {
  content: "\e6e8";
}

.bl-icon-line-solid:before {
  content: "\e6e9";
}

.bl-icon-line-dash:before {
  content: "\e6ea";
}

.bl-icon-curve:before {
  content: "\e6eb";
}

.bl-icon-straightline:before {
  content: "\e6ec";
}

.bl-icon-brokenline:before {
  content: "\e6ed";
}

.bl-icon-time:before {
  content: "\e6ee";
}

.bl-icon-file-word:before {
  content: "\e6ef";
}

.bl-icon-file-pdf:before {
  content: "\e6f0";
}

.bl-icon-threat-middle:before {
  content: "\e6f1";
}

.bl-icon-threat-safe:before {
  content: "\e6f2";
}

.bl-icon-threat-high:before {
  content: "\e6f3";
}

.bl-icon-threat-low:before {
  content: "\e6f4";
}

.bl-icon-menu-guard-star:before {
  content: "\e6f5";
}

.bl-icon-list-setting:before {
  content: "\e6f6";
}

.bl-icon-memory-bar-arrow:before {
  content: "\e6f7";
}

.bl-icon-draggable:before {
  content: "\e6f8";
}

.bl-icon-carousel:before {
  content: "\e6f9";
}

.bl-icon-more:before {
  content: "\e6fa";
}

.bl-icon-level-3:before {
  content: "\e6fc";
}

.bl-icon-level-2:before {
  content: "\e6fd";
}

.bl-icon-level-1:before {
  content: "\e6fe";
}

.bl-icon-tag:before {
  content: "\e6fb";
}

.bl-icon-menu-attack:before {
  content: "\e6ff";
}

.bl-icon-offline2:before {
  content: "\e700";
}

.bl-icon-access-abroad:before {
  content: "\e701";
}

.bl-icon-accress-domestic:before {
  content: "\e702";
}

.bl-icon-access-connect:before {
  content: "\e703";
}

.bl-icon-alert:before {
  content: "\e704";
}

.bl-icon-alert-unhandled:before {
  content: "\e705";
}

.bl-icon-baseline-visit:before {
  content: "\e706";
}

.bl-icon-baseline-download:before {
  content: "\e707";
}

.bl-icon-baseline-login:before {
  content: "\e708";
}

.bl-icon-baseline-operate:before {
  content: "\e709";
}

.bl-icon-baseline-accress:before {
  content: "\e70a";
}

.bl-icon-vulnerability-port:before {
  content: "\e70b";
}

.bl-icon-vulnerability-crack:before {
  content: "\e70c";
}

.bl-icon-vulnerability-weakpassword:before {
  content: "\e70d";
}

.bl-icon-vulnerability-configurationverification:before {
  content: "\e70e";
}

.bl-icon-vulnerability-bug:before {
  content: "\e70f";
}

.bl-icon-performance:before {
  content: "\e710";
}

.bl-icon-performance-off:before {
  content: "\e711";
}

.bl-icon-notice-fill:before {
  content: "\e712";
}

.bl-icon-select-corner:before {
  content: "\e713";
}

